openapi: 3.0.3
info:
  title: Smart Device Service API
  description: API for executing user commands and smart home scenarios
  version: 1.0.0
servers:
  - url: https://warmhouse.com/api/v1
    description: Smart Device Service

paths:
  /commands:
    post:
      tags: [Commands]
      summary: Send command to device
      operationId: sendDeviceCommand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendCommandRequest'
      responses:
        '202':
          description: Command accepted for execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Device not found or unavailable
  /commands/{commandId}:
    get:
      tags: [Commands]
      summary: Get command status
      operationId: getCommandStatus
      parameters:
        - name: commandId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Command information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceCommand'
        '404':
          description: Command not found
  /scenarios:
    get:
      tags: [Scenarios]
      summary: Get user scenarios
      operationId: getUserScenarios
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: activeOnly
          in: query
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: List of scenarios
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Scenario'
    post:
      tags: [Scenarios]
      summary: Create new scenario
      operationId: createScenario
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScenarioRequest'
      responses:
        '201':
          description: Scenario created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
  /scenarios/{scenarioId}:
    put:
      tags: [Scenarios]
      summary: Update scenario
      operationId: updateScenario
      parameters:
        - name: scenarioId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateScenarioRequest'
      responses:
        '200':
          description: Scenario updated
        '404':
          description: Scenario not found
    delete:
      tags: [Scenarios]
      summary: Delete scenario
      operationId: deleteScenario
      parameters:
        - name: scenarioId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Scenario deleted
        '404':
          description: Scenario not found
  /scenarios/{scenarioId}/execute:
    post:
      tags: [Scenarios]
      summary: Execute scenario manually
      operationId: executeScenario
      parameters:
        - name: scenarioId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '202':
          description: Scenario accepted for execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  executionId:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum: [pending, running, completed, failed]
  /scenarios/{scenarioId}/rules:
    post:
      tags: [Rules]
      summary: Add rule to scenario
      operationId: addScenarioRule
      parameters:
        - name: scenarioId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRuleRequest'
      responses:
        '201':
          description: Rule added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioRule'
  /scenarios/{scenarioId}/rules/{ruleId}:
    delete:
      tags: [Rules]
      summary: Delete rule from scenario
      operationId: deleteScenarioRule
      parameters:
        - name: scenarioId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Rule deleted
  /devices/{deviceId}/state:
    get:
      tags: [Device State]
      summary: Get current device state
      operationId: getDeviceState
      parameters:
        - name: deviceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Device state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceState'
        '404':
          description: Device state not found in cache
components:
  schemas:
    SendCommandRequest:
      type: object
      required: [deviceId, command, sourceType]
      properties:
        deviceId:
          type: string
          format: uuid
        command:
          type: string
        parameters:
          type: object
          additionalProperties: true
        sourceType:
          type: string
          enum: [user, scenario, system]
        sourceId:
          type: string
          format: uuid
        priority:
          type: integer
          minimum: 0
          maximum: 10
          default: 0
    CreateScenarioRequest:
      type: object
      required: [userId, name, type]
      properties:
        userId:
          type: string
          format: uuid
        name:
          type: string
          maxLength: 255
        description:
          type: string
        type:
          type: string
          enum: [manual, automatic, scheduled]
        isActive:
          type: boolean
          default: true
        priority:
          type: integer
          default: 0
        config:
          type: object
          additionalProperties: true
    UpdateScenarioRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 255
        description:
          type: string
        isActive:
          type: boolean
        priority:
          type: integer
    CreateRuleRequest:
      type: object
      required: [conditionType, conditionConfig, actionConfig, executionOrder]
      properties:
        conditionType:
          type: string
          enum: [time, device, weather, combined]
        conditionConfig:
          type: object
          additionalProperties: true
        actionConfig:
          type: object
          additionalProperties: true
        executionOrder:
          type: integer
          minimum: 0
        delaySeconds:
          type: integer
          minimum: 0
        isActive:
          type: boolean
          default: true
    CommandResponse:
      type: object
      properties:
        commandId:
          type: string
          format: uuid
        status:
          type: string
          enum: [accepted, rejected]
        message:
          type: string
        timestamp:
          type: string
          format: date-time
    DeviceCommand:
      type: object
      properties:
        id:
          type: string
          format: uuid
        deviceId:
          type: string
          format: uuid
        sourceType:
          type: string
          enum: [user, scenario, system]
        sourceId:
          type: string
          format: uuid
        command:
          type: string
        parameters:
          type: object
        status:
          type: string
          enum: [sent, delivered, executed, failed, canceled]
        sentAt:
          type: string
          format: date-time
        executedAt:
          type: string
          format: date-time
        result:
          type: object
        priority:
          type: integer
    Scenario:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [manual, automatic, scheduled]
        isActive:
          type: boolean
        priority:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        config:
          type: object
        rules:
          type: array
          items:
            $ref: '#/components/schemas/ScenarioRule'
    ScenarioRule:
      type: object
      properties:
        id:
          type: string
          format: uuid
        scenarioId:
          type: string
          format: uuid
        conditionType:
          type: string
          enum: [time, device, weather, combined]
        conditionConfig:
          type: object
        actionConfig:
          type: object
        executionOrder:
          type: integer
        delaySeconds:
          type: integer
        isActive:
          type: boolean
    DeviceState:
      type: object
      properties:
        deviceId:
          type: string
          format: uuid
        status:
          type: string
          enum: [online, offline, error]
        lastSeenAt:
          type: string
          format: date-time
        attributes:
          type: object
          additionalProperties: true
        cachedAt:
          type: string
          format: date-time
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string
              timestamp:
                type: string
                format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - BearerAuth: []