openapi: 3.0.3
info:
  title: Device Service API
  description: Automation Scenarios Management Service
  version: 1.0.0
servers:
  - url: https://warmhouse.com/api/v1
    description: Production server

paths:
  /scenarios:
    get:
      summary: Get user's scenario list
      tags:
        - Scenarios
      security:
        - BearerAuth: []
      parameters:
        - name: is_active
          in: query
          schema:
            type: boolean
        - name: scenario_type
          in: query
          schema:
            type: string
            enum: [manual, automatic, scheduled]
      responses:
        '200':
          description: List of scenarios
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Scenario'

    post:
      summary: Create new scenario
      tags:
        - Scenarios
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScenarioRequest'
      responses:
        '201':
          description: Scenario created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
        '400':
          description: Invalid scenario data

  /scenarios/{scenarioId}:
    get:
      summary: Get scenario information
      tags:
        - Scenarios
      security:
        - BearerAuth: []
      parameters:
        - name: scenarioId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Scenario information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
        '404':
          description: Scenario not found

    put:
      summary: Update scenario
      tags:
        - Scenarios
      security:
        - BearerAuth: []
      parameters:
        - name: scenarioId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateScenarioRequest'
      responses:
        '200':
          description: Scenario updated
        '404':
          description: Scenario not found

    delete:
      summary: Delete scenario
      tags:
        - Scenarios
      security:
        - BearerAuth: []
      parameters:
        - name: scenarioId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Scenario deleted

  /scenarios/{scenarioId}/execute:
    post:
      summary: Execute scenario manually
      tags:
        - Scenarios
      security:
        - BearerAuth: []
      parameters:
        - name: scenarioId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '202':
          description: Scenario accepted for execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  execution_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    example: "pending"
        '404':
          description: Scenario not found

  /scenarios/{scenarioId}/toggle:
    post:
      summary: Enable/disable scenario
      tags:
        - Scenarios
      security:
        - BearerAuth: []
      parameters:
        - name: scenarioId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                is_active:
                  type: boolean
      responses:
        '200':
          description: Scenario status changed
        '404':
          description: Scenario not found

  /executions/{executionId}:
    get:
      summary: Get scenario execution status
      tags:
        - Executions
      security:
        - BearerAuth: []
      parameters:
        - name: executionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Execution status
          content:
            application/json:
              schema:
                type: object
                properties:
                  execution_id:
                    type: string
                  scenario_id:
                    type: string
                  status:
                    type: string
                    enum: [pending, running, completed, failed, canceled]
                  started_at:
                    type: string
                    format: date-time
                  completed_at:
                    type: string
                    format: date-time
                  result:
                    type: object
        '404':
          description: Execution not found

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Scenario:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [manual, automatic, scheduled]
        is_active:
          type: boolean
        priority:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        rules:
          type: array
          items:
            $ref: '#/components/schemas/ScenarioRule'

    ScenarioRule:
      type: object
      properties:
        id:
          type: string
          format: uuid
        condition_type:
          type: string
          enum: [time, device, weather, combined]
        condition_config:
          type: object
        action_config:
          type: object
        execution_order:
          type: integer
        is_active:
          type: boolean

    CreateScenarioRequest:
      type: object
      required:
        - name
        - type
        - rules
      properties:
        name:
          type: string
        description:
          type: string
        type:
          type: string
        is_active:
          type: boolean
          default: true
        priority:
          type: integer
          default: 0
        rules:
          type: array
          items:
            $ref: '#/components/schemas/CreateRuleRequest'

    CreateRuleRequest:
      type: object
      required:
        - condition_type
        - condition_config
        - action_config
      properties:
        condition_type:
          type: string
        condition_config:
          type: object
        action_config:
          type: object
        execution_order:
          type: integer
        delay_seconds:
          type: integer

    UpdateScenarioRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        is_active:
          type: boolean
        priority:
          type: integer
        rules:
          type: array
          items:
            $ref: '#/components/schemas/UpdateRuleRequest'

    UpdateRuleRequest:
      type: object
      properties:
        condition_config:
          type: object
        action_config:
          type: object
        execution_order:
          type: integer
        is_active:
          type: boolean