openapi: 3.0.3
info:
  title: User Service API
  description: |
    User management, authentication and authorization service.
    Uses gRPC for internal communication and REST for administrative tasks.
  version: 1.0.0
servers:
  - url: https://api.warmhouse.ru/user/v1
    description: Production server

paths:
  /auth/login:
    post:
      summary: User authentication
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Successful authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials
        '429':
          description: Too many login attempts

  /auth/validate:
    post:
      summary: JWT token validation
      tags:
        - Authentication
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Token is valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                    example: true
                  user_id:
                    type: string
                    format: uuid
                  permissions:
                    type: array
                    items:
                      type: string
        '401':
          description: Invalid or expired token

  /users:
    post:
      summary: Create new user
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '409':
          description: User with this email already exists

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: user@example.com
        password:
          type: string
          format: password
          example: "securePassword123"

    LoginResponse:
      type: object
      properties:
        access_token:
          type: string
          description: JWT token for API access
        refresh_token:
          type: string
          description: Token for refreshing access token
        expires_in:
          type: integer
          description: Token lifetime in seconds
        user:
          $ref: '#/components/schemas/UserResponse'

    CreateUserRequest:
      type: object
      required:
        - email
        - password
        - full_name
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 8
        full_name:
          type: string
        phone:
          type: string

    UserResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
        full_name:
          type: string
        created_at:
          type: string
          format: date-time